@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------------------*/
body {
  background: #FEFEFE;
  font-family: "Be Vietnam Pro", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.header {
  height: 120px;
  line-height: 120px;
  width: 100%;
}
.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  padding: 42px 0px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__list li:not(:last-child) {
  margin: 0px 60px 0px 0px;
}
.header__link {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.header__link:hover {
  color: #f60076;
}
.header__link:active {
  color: #eab778;
  text-decoration: underline;
}

.main-screen {
  margin: 0px 0px 135px 0px;
}
.main-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-screen__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.main-screen__item_bg {
  margin: 0px -150px 0px 0px;
}
.main-screen__text {
  margin: 160px 0px 0px 0px;
  width: 480px;
}
.main-screen__title {
  margin: 0px 0px 35px 0px;
}
.main-screen__subtitle {
  margin: 0px 0px 55px 0px;
}
.main-screen__button {
  padding: 20px 40px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.065em;
  border: 0.5px solid #FFFFFF;
  background: #2639ED;
  border-radius: 60px;
  display: inline;
}
.main-screen__button:hover {
  cursor: pointer;
  background: #fefefe;
  border: 1px solid black;
}
.main-screen__button:hover a {
  color: #000;
}
.main-screen__button a {
  color: #fff;
}
.main-screen__bg {
  position: relative;
}
.main-screen__bg span {
  background: #DAE9FF;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  left: -1015px;
  z-index: -1;
  opacity: 0;
}
.main-screen__bg span._active {
  -webkit-animation-name: sword1;
          animation-name: sword1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.main-screen__bg:after {
  content: "";
  background: #FFF5DB;
  width: 180px;
  height: 180px;
  border-radius: 0px 0px 100px 0px;
  position: absolute;
  left: 500px;
  top: 430px;
  z-index: -1;
}
@-webkit-keyframes sword1 {
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    left: -65px;
    opacity: 1;
  }
}
@keyframes sword1 {
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    left: -65px;
    opacity: 1;
  }
}

.title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 40px;
  line-height: 49px;
}

.subtitle {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #565656;
  font-size: 16px;
  line-height: 160%;
}

.ourclient {
  margin: 0px 0px 150px 0px;
}
.ourclient__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ourclient__title {
  margin: 0px 0px 15px 0px;
}
.ourclient__subtitle {
  width: 336px;
}
.ourclient__logos {
  margin: 55px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ourclient__logo:not(:last-child) {
  margin: 0px 60px 0px 0px;
}

.howcanwehelp {
  margin: 0px 0px 150px 0px;
}
.howcanwehelp__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.howcanwehelp__text {
  margin: 320px 0px 0px 0px;
  width: 405px;
  position: relative;
}
.howcanwehelp__text:before {
  content: "";
  background: #FFF5DB;
  width: 180px;
  height: 180px;
  border-radius: 100px 0px 0px 0px;
  position: absolute;
  left: -39px;
  top: -65px;
  z-index: -1;
}
.howcanwehelp__title {
  font-size: 38px;
  margin: 0px 0px 25px 0px;
}
.howcanwehelp__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.howcanwehelp__row:before {
  content: "";
  position: absolute;
  top: 125px;
  left: -180px;
  width: 1047px;
  height: 619px;
  background: #FEFEFE;
  border-radius: 150px 0px 0px 0px;
  z-index: -1;
}
.howcanwehelp__row span {
  content: "";
  position: absolute;
  top: 400px;
  left: 110%;
  width: 120px;
  height: 120px;
  border: 8.8px solid #FF007A;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
}
.howcanwehelp__row span._active {
  -webkit-animation-name: round-red;
          animation-name: round-red;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes round-red {
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 700px;
    left: 560px;
    opacity: 1;
    z-index: -2;
  }
}
@keyframes round-red {
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 700px;
    left: 560px;
    opacity: 1;
    z-index: -2;
  }
}
.howcanwehelp__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.howcanwehelp__items:first-child {
  margin: 85px 0px 0px 0px;
}
.howcanwehelp__item {
  text-align: center;
  width: 255px;
  height: 379px;
  border: 1px solid #F2F2F2;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  margin: 0px 105px 30px 0px;
}

.icon-howcanwehelp {
  display: inline-block;
  padding: 24px 24px;
  margin: 0px 0px 30px 0px;
  border-radius: 20px;
}

.icon-howcanwehelp_1, .icon-howcanwehelp_2 {
  background: #FEFEFE;
}

.icon-howcanwehelp_3 {
  background: #FFF7E3;
}

.icon-howcanwehelp_4 {
  background: #DEFFEE;
}

.title-howcanwehelp {
  margin: 0px 0px 25px 0px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.subtitle-howcanwehelp {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #757575;
}

.greatdigital {
  margin: 0px 0px 160px 0px;
}
.greatdigital__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.greatdigital__row span {
  content: "";
  background: #FFF5DB;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  left: 460px;
  z-index: -1;
  -webkit-transform: scale(0.2, 0.2);
          transform: scale(0.2, 0.2);
  -webkit-transition: all 2s ease 0.5s;
  transition: all 2s ease 0.5s;
}
.greatdigital__row span._active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.greatdigital__item iframe {
  width: 550px;
  height: 372px;
  -webkit-box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}
.greatdigital__text {
  margin: 0px 0px 0px 120px;
  width: 560px;
  position: relative;
}
.greatdigital__text::before {
  content: "";
  background: #EFF1FF;
  border-radius: 0px 0px 100px 0px;
  width: 180px;
  height: 180px;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
}
.greatdigital__title {
  margin: 0px 0px 25px 0px;
}
.happyclientsay {
  margin: 0px 0px 250px 0px;
}
.happyclientsay__container {
  max-width: 1260px;
}
.happyclientsay__text {
  text-align: center;
}
.happyclientsay__title {
  margin: 0px 0px 17px 0px;
}
.happyclientsay__row {
  margin: 120px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.happyclientsay__item:first-child {
  position: relative;
  margin: 0px 35px 0px 0px;
}
.happyclientsay__item:first-child span {
  content: "";
  position: absolute;
  top: 288px;
  left: 30px;
  width: 120px;
  height: 120px;
  border: 8.8px solid #FF007A;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translate(-290%, -200%);
          transform: translate(-290%, -200%);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  opacity: 0;
}
.happyclientsay__item:first-child span._active {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}
.happyclientsay__item:last-child {
  position: relative;
  margin: 0px 0px 0px 40px;
}
.happyclientsay__item:last-child span {
  content: "";
  position: absolute;
  top: 100px;
  left: 30px;
  width: 185px;
  height: 185px;
  background: #FFF5DB;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0.2, 0.2);
          transform: scale(0.2, 0.2);
  -webkit-transition: all 2s ease 1s;
  transition: all 2s ease 1s;
}
.happyclientsay__item:last-child span._active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.text-happyclientsay {
  margin: 90px 0px 0px 0px;
  text-align: left;
  width: 430px;
  position: relative;
}
.text-happyclientsay span {
  content: "";
  position: absolute;
  top: 180px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #2639ED;
  border-radius: 50%;
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
  -webkit-transition: all 1.5s ease 0.5s;
  transition: all 1.5s ease 0.5s;
}
.text-happyclientsay span._active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.title-happyclientsay {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.subtitle-happyclientsay {
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}

.subscribe {
  margin: 0px 0px 250px 0px;
  position: relative;
}
.subscribe__content::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 355px;
  width: 1197px;
  height: 292px;
  background: #FEFEFE;
  border-radius: 75px;
  z-index: -1;
}
.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__item {
  position: relative;
}
.subscribe__text {
  position: relative;
  margin: 0px 60px 0px 92px;
}
.subscribe__text span {
  content: "";
  position: absolute;
  top: 50px;
  left: -130px;
  width: 180px;
  height: 180px;
  background: #FFF5DB;
  border-radius: 0px 0px 0px 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}
.subscribe__text span._active {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: -4;
}
.subscribe__title {
  font-size: 36px;
  margin: 0px 0px 17px 0px;
}
.subscribe__input {
  position: relative;
}
.subscribe__input::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 70px;
  width: 543px;
  height: 292px;
  background: #2639ED;
  border-radius: 75px;
  z-index: -1;
}
.subscribe__input::after {
  content: "";
  position: absolute;
  top: -100px;
  left: -11px;
  width: 0;
  height: 0;
  border-left: 47.395px solid transparent;
  border-right: 47.395px solid transparent;
  border-bottom: 300.44px solid #fefefe;
  -webkit-transform: rotate(-6.97deg);
          transform: rotate(-6.97deg);
  z-index: -1;
}
.subscribe__input input {
  width: 479px;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  padding: 0px 230px 0px 35px;
  font-size: 16px;
  line-height: 20px;
  color: #959595;
}
.subscribe__button {
  position: absolute;
  top: 10px;
  left: 273px;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.065em;
  background: #2639ED;
  border-radius: 60px;
  display: inline;
}
.subscribe__button a {
  color: #fff;
}
.subscribe__button:hover {
  cursor: pointer;
  background: #f1f1f1;
  border: 1px solid black;
}
.subscribe__button:hover a {
  color: #000;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__column:not(:last-child) {
  margin: 0px 100px 0px 0px;
}
.footer__column:first-child {
  margin: 0px 140px 0px 0px;
}
.footer__logo {
  margin: 0px 0px 26px 0px;
}
.footer__subtitle {
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  max-width: 300px;
  margin: 0px 0px 40px 0px;
}
.footer__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  color: #000000;
  margin: 0px 0px 24px 0px;
}
.footer__list {
  max-width: 161px;
}
.footer__link {
  font-size: 14px;
  line-height: 200%;
  color: #000000;
}
.footer__link:hover {
  cursor: pointer;
  color: #f89900;
}
.footer__icon:not(:last-child) {
  margin: 0px 16px 0px 0px;
}
.footer__icon:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__bottom {
  margin: 46px 0px 0px 0px;
}
.footer__copyright {
  margin: 0px 0px 25px 0px;
  text-align: center;
  font-size: 14px;
  line-height: 160%;
  color: #A4A4A4;
}